DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE"
IREMBO_SERVICE="PRACTICAL_EXAM"
IREMBO_BENEFICIARIES="PrivateCandidate"
IREMBO_CATEGORIES="A,B,C,D,E,F"
IREMBO_LOCATIONS=""
IREMBO_PAGE_LIMIT="50"
IREMBO_MAX_PAGES="20"
IREMBO_LOCATION_CONCURRENCY="4"
IREMBO_REQUEST_TIMEOUT_MS="8000"
SCAN_INTERVAL_MINUTES="5"
PRIORITY_CATEGORY="A"
PRIORITY_LOCATION="Busanza"
PRIORITY_CENTER="BUSANZA AUTOMATED CENTER"
SCAN_API_SECRET=""
ALERT_PHONE=""
ALERT_EMAIL=""
NOTIFICATION_WEBHOOK_URL=""
